
@keyframes anim {
    0% { background-color:red;},
    100% {background-color:blue;}
}  


.button {
    border:none;
    padding: 0px;
    animation-name: anim;
    animation-duration: 0.5s;
    animation-play-state: paused;
}

