  
@keyframes animR1 {
    0% { 
        transform: translateX(0px);
     filter: opacity(0.9);
    }
    100% { 
        transform: translateX(243px);
        filter: opacity(0.0);
    }
}  

@keyframes animR2{
    0% { 
        transform: translateX(-243px);
        filter: opacity(0.0);
    }
    100% { 
        transform: translateX(0px);
        filter: opacity(1);   
    }
}

@keyframes animL1 {
    0% { 
        transform: translateX(0px);
     filter: opacity(0.9);
    }
    100% { 
        transform: translateX(-243px);
        filter: opacity(0.0);
    }
}  

@keyframes animL2{
    0% { 
        transform: translateX(243px);
        filter: opacity(0.0);
    }
    100% { 
        transform: translateX(0px);
        filter: opacity(1);   
    }
}

.ROut{ 
    animation: animR1;
    animation-duration:.17s;
    animation-iteration-count: 1;    
    animation-timing-function: ease-in;
}

.RIn{ 
    animation: animR2;
    animation-duration:.17s;
    animation-iteration-count: 1;    
    animation-timing-function: ease-in;
}

.LOut{
    animation : animL1;
    animation-duration:.17s;
    animation-iteration-count: 1;    
    animation-timing-function: ease-in;
}

.LIn {
    animation: animL2;
    animation-duration:.17s;
    animation-iteration-count: 1;    
    animation-timing-function: ease-in;
}

.button {
    outline:none;
    border:none;
    padding: 0px;
    
    background-color:white;

}

.img {
    position: absolute;
    padding: 10px;
    margin:auto;
    height: 137px;
    width:243px;
}

.input{
    
}